<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    <bean id="alien" class="com.ProgrammingPointer.Alien" scope="prototype">-->
<!--    </bean>-->

    <bean id="alien" class="com.ProgrammingPointer.Alien" autowire="byType">
        <property name="age" value="21"></property>
        <property name="com" >
            <bean id="com1" class="com.ProgrammingPointer.Laptop" primary="true">
            </bean>
        </property>
<!--        <property name="age" value="30"></property>-->

        <!--        <property name="lap" ref="laptop"></property>-->

<!--        -->
<!--        <constructor-arg value="21"/>-->
<!--        <constructor-arg ref="laptop"/>-->

<!--        //Reversing order but use type-->
<!--        <constructor-arg type="com.ProgrammingPointer.Laptop" ref="laptop"/>-->
<!--        <constructor-arg type="int" value="21"/>-->

<!--        <constructor-arg index="1" ref="laptop"/>-->
<!--        <constructor-arg index="0" value="21"/>-->

<!--        <constructor-arg name="age" value="21"/>-->
<!--        <constructor-arg name="lap" ref="laptop"/>-->

<!--        order changing-->
<!--        <constructor-arg name="lap" ref="laptop"/>-->
<!--        <constructor-arg name="age" value="21"/>-->


    </bean>

<!--    <bean id="com1" class="com.ProgrammingPointer.Laptop" primary="true">-->
<!--    </bean>-->

    <bean  class="com.ProgrammingPointer.Desktop" lazy-init="true">
    </bean>

</beans>